body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #666666;

  outline: none;
}

html,
body {
  height: 100%;
}

.button-hover:hover {
  background: linear-gradient(90deg, #ff7969, #ffba6c) !important;
  color: white !important;
  border: none !important;
}
